# ROS 2 build outputs
build/
install/
log/

# Python
__pycache__/
*.pyc
*.pyo

# CMake / colcon
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# VS Code
.vscode/

# JetBrains
.idea/

# OS files
.DS_Store
Thumbs.db
